/*
Använd aldrig pixlar, utan hellre %
Använd dig av grid så mycket som möjligt
Ifall det inte går, använd media queries
*/



body {
 /*background-image: url(./backg.webp);*/
 background-size: cover;
 background-color: goldenrod;
}

.mainh {
    background-color: rgba(255, 166, 0, 0.500);
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
  width: 500px;
  margin-left: 350px;
  margin-right: 350px;
}

.main {
background-color: rgba(0, 255, 255, 0.5);
padding-right: 30px;
text-align: center;
text-decoration: none;
width: 500px;
margin-left: 350px;
margin-right: 350px;
font-size: 20px;
color: rgb(0);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mail{
  font-size: 15px;
}

a {
    text-decoration: none;
}

@media (max-width: 1000px) {
  main{
    width: 400px;
    margin: 0;
    font-size: 10px;
  }
  nav{
   
    text-align: center;
  }
  body{
    width: 400px;
    font-size: 10px;
  }
    .main {
      width: 400px;
margin: 0;
font-size: 10px;
size: 30px;
    }
    .mainh{
margin: 0;
        width: 400px;
    }
    .main img{
      width: 120px;
    }
}